$w: 20em;

.projects {
  position: relative;
}

.project-head {
  font-family: 'Noto Sans JP', sans-serif;
  position: absolute;
  transform: translate(calc(4vw + 10px), calc(-21vw - 40px));
  z-index: 1;
  font-size: calc(10vw + 10px);
  color: #0e0e0e;
}

.grid-out {
  --margin-div: 40px;

  --fifty-percent: calc(50% - calc(2 * var(--margin-div)));

  display: flex;
  gap: var(--margin-div);
  place-content: center;
  font-size: 20px;
  flex-wrap: wrap;
  margin: calc(4vw + 8px);

  transform: translateY(calc(-3vw - 30px));

  font-family: 'Noto Sans JP', sans-serif;

  h2 {
    font-size: 1.8em;
    font-weight: 600;
  }

  h4 {
    font-weight: 300;
  }

  img {
    --margin: 0;

    margin: var(--margin);

    animation: roll-small;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }

  section {
    color: whitesmoke;

    border-radius: 10px;
    position: relative;
    padding: 40px;
    width: $w;

    &:hover {
      img {
        margin: calc(var(--margin) + 6px);
      }

      font-size: 1.03em;
    }

    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);

    transition: all 0.1s ease-in-out;
  }

  a {
    color: #ffd074;
    text-decoration: none;
  }

  .language {
    flex: 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    padding: 0;
    box-shadow: none;

    .gorilla {
      background-color: #4876cb;

      border-radius: 10px 10px 0 0;

      img {
        width: calc(15vw + 200px);
        height: auto;
        object-fit: contain;
        --margin: -20px;
      }
    }

    .glacier {
      border-radius: 0 0 10px 10px;

      background-color: #3bab6d;
      padding-top: 200px;
    }

    section {
      flex: 1 100%;
      transition: none;

      &:hover {
        font-size: inherit;
      }
    }
  }

  .gorilla {
    flex: 1 100%;
    background-color: #5a88de;

    img {
      width: calc(15vw + 200px);
      height: auto;
      object-fit: contain;
      --margin: -20px;
    }
  }

  .glacier {
    flex: 1 100%;
    background-color: #3bab6d;
  }


  .figurify {
    flex: 1 100%;
    background-color: #9c74e3;

    img {
      width: calc(10vw + 100px);
      height: auto;
      object-fit: contain;
    }
  }

  .iceburn {
    flex: 1 var(--fifty-percent);
    background-color: #68a7d9;
  }

  .rustfish {
    flex: 1 var(--fifty-percent);
    background-color: #68d995;
  }

  .probox {
    flex: 1 var(--fifty-percent);
    background-color: #ab4c3b;
  }

  .mini {
    flex: 1 var(--fifty-percent);
    background-color: #733bab;
  }
}