@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

$font-a: "Itim";
$font-b: "Josefin Sans";
$font-weight: 400;

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

h1 {
  font-weight: $font-weight;
  font-family: $font-a, cursive;

  font-size: 3rem;

  @media (min-width: $phone) {
    font-size: 5rem;
  }

  @media (min-width: $tablet) {
    font-size: 6.5rem;
  }

  @media (min-width: $desktop) {
    font-size: 8rem;
  }
}

h2 {
  font-weight: $font-weight;
  font-family: $font-a, cursive;

  font-size: 2.4rem;

  @media (min-width: $phone) {
    font-size: 4rem;
  }

  @media (min-width: $tablet) {
    font-size: 5rem;
  }

  @media (min-width: $desktop) {
    font-size: 6rem;
  }
}

h3 {
  font-weight: $font-weight * 0.5;
  font-family: $font-b, sans-serif;

  font-size: 1.6rem;

  @media (min-width: $phone) {
    font-size: 3rem;
  }

  @media (min-width: $tablet) {
    font-size: 4rem;
  }

  @media (min-width: $desktop) {
    font-size: 5rem;
  }
}

.listrec {
  position: relative;
  // color: #7ebaff;

  .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0rem;
    right: 0;
    opacity: 0;
  }
}

.and {
  position: relative;
  color: #5ac7af;
  margin-top: -1.1rem;
  .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #71c2f8;
    transform-origin: 0.5 0;
  }
  .ampersand {
    font-family: Baskerville, serif;
    color: #d1f167;
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }
  .letters {
    display: inline-block;
    opacity: 0;
  }
}

#ft1 {
  color: #fbc191;
  text-shadow: 4px 4px 6px #696969;
}

#ft2 {
  color: #91bafb;
  text-shadow: 4px 4px 6px #696969;
}

.centered {
  text-align: center;
}

body {
  overflow-x: hidden;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  right: 0;
  margin-bottom: 0;
}

#page-2 {
  margin-top: 0;
  width: 100%;
  height: 100%;
  background: #e0fffb;
  background: linear-gradient(150deg, #e0fffb 18%, #d4fcd2 77%);
  background: -moz-linear-gradient(150deg, #e0fffb 18%, #d4fcd2 77%);
  background: -webkit-linear-gradient(150deg, #e0fffb 18%, #d4fcd2 77%);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
}
