@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

$font-a: "Itim", cursive;
$font-b: "Josefin Sans", sans-serif;
$font-c: "Source Sans Pro", sans-serif;
$font-weight: 400;

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

h1 {
  font-weight: $font-weight;
  font-family: $font-a;

  font-size: 3rem;

  @media (min-width: $phone) {
    font-size: 5rem;
  }

  @media (min-width: $tablet) {
    font-size: 6.5rem;
  }

  @media (min-width: $desktop) {
    font-size: 8rem;
  }
}

h2 {
  font-weight: $font-weight;
  font-family: $font-a;

  font-size: 2.4rem;

  @media (min-width: $phone) {
    font-size: 4rem;
  }

  @media (min-width: $tablet) {
    font-size: 5rem;
  }

  @media (min-width: $desktop) {
    font-size: 6rem;
  }
}

h3 {
  font-weight: $font-weight * 0.6;

  font-size: 1.6rem;

  @media (min-width: $phone) {
    font-size: 3rem;
  }

  @media (min-width: $tablet) {
    font-size: 4rem;
  }

  @media (min-width: $desktop) {
    font-size: 5rem;
  }
}

h4 {
  font-weight: $font-weight * 0.6;

  font-size: 1.6rem;

  @media (min-width: $phone) {
    font-size: 2rem;
  }

  @media (min-width: $tablet) {
    font-size: 3rem;
  }

  @media (min-width: $desktop) {
    font-size: 4rem;
  }
}

h5 {
  font-weight: $font-weight * 0.6;

  font-size: 1.4rem;

  @media (min-width: $phone) {
    font-size: 1.4rem;
  }

  @media (min-width: $tablet) {
    font-size: 1.5rem;
  }

  @media (min-width: $desktop) {
    font-size: 1.6rem;
  }

  margin-top: 2px;
}

.h3-text {
  font-family: $font-a;
  margin: 3rem;
  margin-top: 0;
  padding-top: 3.5rem;
}

.listrec {
  position: relative;
  // color: #7ebaff;

  .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0rem;
    right: 0;
    opacity: 0;
  }
}

.and {
  font-family: $font-b;

  position: relative;
  color: #5ac7af;
  margin-top: -1.1rem;

  .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #71c2f8;
    transform-origin: 0.5 0;
  }
  .ampersand {
    font-family: Baskerville, serif;
    color: #d1f167;
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }
  .letters {
    display: inline-block;
    opacity: 0;
  }
}

#ft1 {
  font-family: $font-a;
  color: #fbc191;
  text-shadow: 0.3rem 0.3rem 0.5rem #696969;
}

#ft2 {
  font-family: $font-c;
  color: #ffe08b;
  text-shadow: 0.1rem 0.1rem 0.3rem #9b9b9b;
  padding-bottom: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.centered {
  text-align: center;
}

body {
  overflow-x: hidden;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  right: 0;
  padding-bottom: 0;
}

#page-2 {
  margin: 0;
  background: #e0fffb;
  background: linear-gradient(150deg, #e0fffb 18%, #d4fcd2 77%);
  background: -moz-linear-gradient(150deg, #e0fffb 18%, #d4fcd2 77%);
  background: -webkit-linear-gradient(150deg, #e0fffb 18%, #d4fcd2 77%);

  padding-top: 3rem;
  padding-bottom: 1rem;
}

#page-3 {
  margin: 0;
  background: #fdf1f1;
  background: linear-gradient(150deg, #fffddf 18%, #fdf1f1 77%);
  background: -moz-linear-gradient(150deg, #fffddf 18%, #fdf1f1 77%);
  background: -webkit-linear-gradient(150deg, #fffddf 18%, #fdf1f1 77%);

  padding-top: 0;
  padding-bottom: 4rem;
}

#page-4 {
  margin: 0;
  padding-bottom: 3rem;
  background: #efe2ff;
  background: linear-gradient(150deg, #efe2ff 18%, #e2efff 77%);
  background: -moz-linear-gradient(150deg, #efe2ff 18%, #e2efff 77%);
  background: -webkit-linear-gradient(150deg, #efe2ff 18%, #e2efff 77%);
}

#page-5 {
  margin: 0;
  padding-bottom: 3rem;
  background: #e2fffe;
  background: linear-gradient(150deg, #e2efff 18%, #e2fffe 77%);
  background: -moz-linear-gradient(150deg, #e2efff 18%, #e2fffe 77%);
  background: -webkit-linear-gradient(150deg, #e2efff 18%, #e2fffe 77%);
}

#footer {
  margin: 0;
  padding-bottom: 3rem;
  padding-top: 3rem;
  background: #a8dfff;
  text-align: center;
}

html,
body {
  margin: 0;
}

.yt-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 35%;
}

.ytvid {
  position: absolute;
  top: 0;
  left: 50% * 0.4;
  bottom: 0;
  right: 50% * 0.6;
  width: 60%;
  height: 100%;
}
